.error__page {
  @extend %flex-column-center;
  min-height: 100vh;
  color: $primary-color;
  padding: 100px 0;

  &--h1 {
    @include font($s: 288px, $w: 700);
  }

  &--h3 {
    @include font($s: 36px, $w: 500);
    margin: 100px 0;
  }

  &--link {
    @include font($s: 18px, $w: 500);
    color: $primary-color;
  }
}
