.header {
  @extend %flex-space-beetween;

  &__logo {
    height: 68px;
  }

  &__nav {
    width: 250px;
    @extend %flex-space-beetween;

    a {
      color: $primary-color;
      text-decoration: none;
      @include font($s: 24px, $w: 500);
    }

    .active {
      border-bottom: 1px solid $primary-color;
    }
  }
}

@media screen and (max-width: 550px) {
  .header {
    &__logo {
      height: 46px;
    }
    &__nav {
      width: 130px;

      a {
        @include font($s: 12px, $w: 500);
      }
    }
  }
}
