.header {
  @extend %flex-space-beetween;

  &__nav {
    width: 180px;
    @extend %flex-space-beetween;

    a {
      color: $primary-color;
      text-decoration: none;
    }

    .active {
      border-bottom: 1px solid $primary-color;
    }
  }
}
